#map {
  position: fixed;
  top: 156px;
  left: 200px;
  bottom: 0;
  height: 84vh;
}

#title{
  font-family: foobar;
  font-weight: bold;
  font-size: 5em;
  display: inline;
}

.title-icon{
  display: inline;
}

#overline{
  border-top: 2px solid lightgreen;
  padding-top: 5px;
}

#tagline{
  font-size: 1.5em;
}

#nav-title{
  text-align: center;
  color: white;
  border-bottom: 2px solid lightgreen;
  padding-bottom: 10px;
}

#address-input{
  width: 70%;
}

#cancel, #submit{
  width: 60px;
}

.button{
 float: left;
 margin: 10px 2px 0 2px;
 position: relative;
 left: 55%;
}

.icon{
  padding-right: 5px;
}

header{
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
  background: white;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Open Sans, Arial, sans-serif;
  overflow-x: hidden;
}

nav{
  position: fixed;
  z-index: 1000;
  top: 176.859px;
  bottom: 0;
  width: 200px;
  background-color: black;
}

nav ul{
  list-style: none;
  margin-top: 18px;
  text-align: left;
}

nav a:hover{
  background: lightgreen;
  text-decoration: none;
  color: black
}

nav ul li a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px 0 10px 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 40%;
  top: 40%;
  width: 30%; /* Full width */
  height: 10%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: grey; /* Fallback color */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 98%;
  height: 98%;
  vertical-align: top;
  padding:3%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@font-face {
  font-family: foobar;
  src: url(FoobarProRegular.otf);
} 
